extends ../index.jade
block content
  each post in posts
    article.post.post-preview
      h1.post-title
        a(href=post.url)= post.title
      p.post-content.excerpt
        != post.excerpt

      div.post-meta.text-center
        span
          i.fa.fa-clock-o
          = moment(post.date).format("LL")
        span
          i.fa.fa-align-left
          = moment.duration(post.readingTime, 'minutes').humanize() + " reading time"

      div.read-more.text-center
        a(href=post.url)
          ="Read More"
          div
            i.fa.fa-chevron-down

  ul.pager
    if prev
      li.prev
        a(href=prev.url) <- Newer Posts

    if next
      li.next
        a(href=next.url) Older Posts →

     //  Page #{start} of #{total}
