doctype xml
rss(version="2.0")
  channel
    title #{$site.name}
    description #{$site.description}
    link #{$site.url}
    lastBuildDate= moment($site.buildDate).locale("en").format('ddd, DD MMM YYYY HH:mm:ss ZZ')
    language #{$site.language}
    ttl 1800

  each post in posts
    item
      title= post.title
      description= post.excerpt
      link= post.url
      guid= post.url
      pubDate= moment(post.date).locale("en").format('ddd, DD MMM YYYY HH:mm:ss ZZ')
      // Make it absolute
